<section class="section" id="about">
  <div class="container">
<h1>Buat Pengajuan Informasi</h1>

<%= render "form", pengajuaninformasi: @pengajuaninformasi %>

<br>

<div>
  <%= link_to "Back to pengajuaninformasis", pengajuaninformasis_path %>
</div>
</div>
</section>
