<div id="<%= dom_id berita %>">
  <p>
    <strong>Judul</strong>
    <%= berita.judul %>
  </p>

  <p>
    <strong>Namalenkap:</strong>
    <%= berita.banner %>
  </p>

  <p>
    <strong>konten:</strong>
    <%= berita.konten %>
  </p>

</div>
